In [7]:
import numpy as np

import pandas as pd

import sys



sys.path

['',
 '/home/ec2-user/anaconda3/envs/pytorch_latest_p36/lib/python36.zip',
 '/home/ec2-user/anaconda3/envs/pytorch_latest_p36/lib/python3.6',
 '/home/ec2-user/anaconda3/envs/pytorch_latest_p36/lib/python3.6/lib-dynload',
 '/home/ec2-user/anaconda3/envs/pytorch_latest_p36/lib/python3.6/site-packages',
 '/home/ec2-user/anaconda3/envs/pytorch_latest_p36/lib/python3.6/site-packages/IPython/extensions',
 '/home/ec2-user/.ipython',
 '/home/ec2-user/SageMaker/AssistiveVision/coco/PythonAPI',
 '/home/ec2-user/SageMaker/AssistiveVision/coco/PythonAPI/pycocotools']

In [9]:
#sys.path.append('/home/ec2-user/SageMaker/AssistiveVision/coco/PythonAPI')
#sys.path.append('/home/ec2-user/SageMaker/AssistiveVision/coco/PythonAPI/pycocotools')

from pycocotools.coco import COCO

from loader.dataset_coco import COCODataset

In [13]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [14]:
#using validation because it's smaller
cc = COCODataset(dtype='val')

loading annotations into memory...
Done (t=0.06s)
creating index...
index created!
tokenizing caption... done!!

In [19]:
#count of images with captions
cc.df.loc[:, 'image_id'].drop_duplicates().count()

5000

In [21]:
#length of captions

cc.df.head(2)

,image_id,id,caption,license,file_name,coco_url,height,width,date_captured,flickr_url,tokens,tokens_count
0,179765,38,A black Honda motorcycle parked in front of a ...,3,000000179765.jpg,http://images.cocodataset.org/val2017/00000017...,480,640,2013-11-15 14:02:51,http://farm3.staticflickr.com/2824/10213933686...,"[a, black, honda, motorcycle, parked, in, fron...",11
1,179765,182,A Honda motorcycle parked in a grass driveway,3,000000179765.jpg,http://images.cocodataset.org/val2017/00000017...,480,640,2013-11-15 14:02:51,http://farm3.staticflickr.com/2824/10213933686...,"[a, honda, motorcycle, parked, in, a, grass, d...",8

In [36]:
cc.df.groupby("image_id").count()[cc.df.groupby("image_id").count().loc[:, 'caption']!=5]

,id,caption,license,file_name,coco_url,height,width,date_captured,flickr_url,tokens,tokens_count
image_id,,,,,,,,,,,
2923,6,6,6,6,6,6,6,6,6,6,6
38070,6,6,6,6,6,6,6,6,6,6,6
96493,6,6,6,6,6,6,6,6,6,6,6
163057,6,6,6,6,6,6,6,6,6,6,6
165257,6,6,6,6,6,6,6,6,6,6,6
190841,6,6,6,6,6,6,6,6,6,6,6
215259,6,6,6,6,6,6,6,6,6,6,6
289516,6,6,6,6,6,6,6,6,6,6,6
328030,6,6,6,6,6,6,6,6,6,6,6
431896,7,7,7,7,7,7,7,7,7,7,7
434459,6,6,6,6,6,6,6,6,6,6,6
449312,6,6,6,6,6,6,6,6,6,6,6
545958,6,6,6,6,6,6,6,6,6,6,6

In [43]:
cc.df.groupby("image_id").count().iloc[:,0].value_counts()

5    4987
6      12
7       1
Name: id, dtype: int64

In [31]:
#avg number of words per caption
np.mean(cc.df.loc[:, 'caption'].apply(lambda x: len(x.split(" "))))

10.594986807387862